<div id="login-form" class='default-form'>
  <h1>Ingresa tus datos</h1>
  <%= form_for :session, url: session_path do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Iniciar sesión' %>
    </div>
  <% end %>
  ¿Eres nuevo? <%= link_to 'Registrate aquí', new_user_path %>
</div>
