<h2> Comentarios </h2>
<% project.comments.order(created_at: :asc).each do |comment| %>
<div class='one-comment'>
  <p><small><strong><%= comment.user.full_name %>: </strong></small><%= comment.content %><br>
    <small><%= l(comment.created_at, format: '%d/%M%Y - %R') %></small>
  </p>
</div>
<% end %>
<% if current_user %>
  <div class="comments-form">
    <%= form_for Comment.new, {controller: 'comments', action: "create", remote: true} do |f| %>
      <%= f.text_field(:content, requiered: true, class: 'comment-text') %>
      <%= f.hidden_field(:project_id, value: @project.id) %>
      <%= f.submit("Comentar", class: 'btn btn-publish') %>
    <% end %>
  </div>
<% end %>
