<%= simple_form_for user do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :username, required: true, label: 'Nombre de usuario' %>
  </div>

  <div class="field">
    <%= f.input :email, required: true, type: 'email', label: 'Correo electrónico' %>
  </div>

  <div class="field">
    <%= f.input :password, required: true, type: 'password', label: 'Contraseña' %>
  </div>
  <div class="field">
    <%= f.input :password_confirmation, required: true, type: 'password', label: 'Confirmar contraseña' %>
  </div>

  <div class="field">
    <%= f.input :name, label: 'Nombres' %>
  </div>

  <div class="field">
    <%= f.input :last_name, label: 'Apellidos' %>
  </div>

  <div class="field">
    <%= f.input :admin, label: '¿Es administrador?' %>
  </div>

  <%= f.button :submit, 'Guardar', class: "btn" %>

<% end %>
