<div class="default-form">
  <h1>Cambiar contraseña</h1>
  <%= simple_form_for @user, url: change_password_path, method: :post do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibió que la contraseña se actualizara:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="form-fields">
        <div class="field">
          <%= f.input :old_password, required: true, type: 'password', label: 'Contraseña actual' %>
        </div>
        <div class="field">
          <%= f.input :password, required: true, type: 'password', label: 'Nueva contraseña' %>
        </div>
        <div class="field">
          <%= f.input :password_confirmation, required: true, type: 'password', label: 'Confirmar contraseña' %>
        </div>
        <%= f.button :submit, 'Guardar', class: "btn" %>
      </div>
  <% end %>
</div>
<%= link_to 'Ver perfil', @user %> |
<%= link_to 'Inicio', root_path %>
