<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table width="100%">
  <thead>
    <tr>
      <th width="5%">Admin</th>
      <th>Email</th>
      <th>Name</th>
      <th>Last name</th>
      <th colspan="3" width="15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr align="center">
        <td><%= user.admin ? 'Admin' : ''%></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= link_to 'Perfil', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
