<% if current_user == @user %>
<%= link_to 'Editar', edit_user_path(@user) %><br>
<%= link_to 'Cambiar contraseña', edit_password_path(@user) %>
<% end %>
<div class="user-profile">
  <div class='avatar-display'>
    <%= image_tag @user.avatar.exists? ? @user.avatar.url(:cropped) : 'default-avatar.png', class: 'edit-avatar' %><br>
    <%= @user.full_name %>
  </div>
  <br>
  <div class='user-info'>
    <h2> Contacto </h2>
    <% if @user.username %>
    <p>
      <strong>Usuario:</strong>
      <%= @user.username %>
    </p>
    <% end %>
    <p>
      <strong>Nombre:</strong>
      <%= @user.name %>
    </p>

    <% if @user == current_user %>
    <p class='user-token'>
      <% if current_user.token.nil? %>
        <%= link_to 'Pedir token para API', user_create_token_path(current_user), remote: true %>
      <% else %>
        <strong>Token:</strong>
        <%= @user.token %>
      <% end %>
    </p>
    <% end %>


  </div>
  <div class='user-participation'>
    <h2> Participación </h2>
    <strong> Mira mis <%= link_to 'Proyectos', user_projects_path(@user) %></strong>
  </div>

</div>
