<div id="page">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <%= yield %>
</div>
<% if current_user && current_user.admin %>
<h3> Ver todos los <%= link_to 'Usuarios', users_path %></h3>
<% end %>
<h3> Ver todos los <%= link_to 'Proyectos', projects_path %></h3>

<div class="slideshow-container">
  <% size = @projects.size %>
  <% @projects.each_with_index do |project, i| %>
    <div class="mySlides fade">
      <div class="numbertext"><%= "#{i}/#{size}"%></div>
      <%= image_tag(project.image.exists? ? project.image.url : 'zelda.jpg', style: 'width:100%;') %>
      <div class="text"><%= project.title%></div>
    </div>
  <% end %>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
