<p id="notice"><%= notice %></p>

<h1>Proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Publicado</th>
      <th>Nombre</th>
      <th>Meta</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.order(:publish).each do |project| %>
      <tr>
        <td><%= project.publish ? 'Si' : 'No' %></td>
        <td><%= project.title %></td>
        <td><%= number_to_currency(project.goal, unit: "CLP$", delimiter: ".", format: "%u%n") %></td>
        <td><%= link_to 'Editar', edit_admin_project_path(project) %></td>
        <td><%= link_to 'Eliminar', admin_project_path(project), method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
