<div class="project-content">
  <% if project.vimeo_id.present? %>
  <iframe id="player_<%=project.vimeo_id%>" class="project-view" data-index=0
          src="https://player.vimeo.com/video/<%= project.vimeo_id %>?api=1&player_id=player_<%=project.vimeo_id%>&autoplay=0"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
  <% else %>
    <%= image_tag project.image.exists? ? project.image.url(:cropped) : 'zelda.jpg', class: 'project-view' %>
  <% end %>
  <h1> <%= project.title %> </h1>
  <p>
    <h3 id='category-rate'> <%= "#{project.category.name}  - #{project.rating}" %> </h3>
    <%= project.description %><br>
  </p>
</div>
