<%= simple_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title, label: 'Título' %>
  </div>

  <div class="field">
    <%= f.input :description, label: 'Descripción' %>
  </div>

  <div class="field">
    <%= f.input :goal, label: 'Monto necesario' %>
  </div>

  <div class="field">
    <%= f.association :category, collection: @categories, prompt: 'Elige categoría' %>
  </div>

  <%= f.button :submit, 'Guardar proyecto', class: "btn" %>

<% end %>
