<%= simple_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibió guardar el proyecto:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='project-data'>
    <div class="field">
      <%= f.input :title, label: 'Título', require: true %>
    </div>
    <div class="field">
      <%= f.input :video_url, label: 'Link a vimeo' %>
    </div>
    <div class="field">
      <%= f.input :hashtag, label: 'Hashtag relacionado, debe comenzar con #' %>
    </div>
    <div class="field">
      <%= f.input :end_date, label: 'Fecha límite' %>
    </div>
    <div class="field">
      <%= f.input :description, label: 'Descripción', class: 'project-description' %>
    </div>
    <div class="field half">
      <%= f.input :goal, label: 'Monto necesario' %>
    </div>
    <div class="field extra">
      <%= f.association :category, collection: @categories, prompt: 'Elige categoría' %>
    </div>
  </div>
  <div class='project-selectables'>
    <div class="field extra check">
      <%= f.input :publish, label: '¿Publicar?' %>
    </div><br>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, id: attribute %>
    <% end %>
    <div class='avatar-display'>
      <div class="field half">
        <label>Elegir imagen</label>
        <span class="btn" >
          <%= f.file_field :image %>
        </span><br>
        <% if project.image.exists? %>
        <img src="<%= project.image.url(:cropped) %>" class="edit-image" id=cropbox style="width:100%;height:auto",
        data-full="<%= project.image.url(:original)%>", data-width="<%=Paperclip::Geometry.from_file(project.image)%>">
        <% else %>
        <img class="edit-image" id=cropbox>
        <% end %>
      </div>
    </div>
    <%= f.button :submit, 'Guardar proyecto', class: "btn btn-success" %>
  </div>
<% end %>
