<%= simple_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibió guardar el proyecto:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='project-text'>
    <div class="field">
      <%= f.input :title, label: 'Título' %>
    </div>

    <div class="field">
      <%= f.input :description, label: 'Descripción', class: 'project-description' %>
    </div>
    <%= f.button :submit, 'Guardar proyecto', class: "btn btn-success" %>
  </div>
  <div class='project-selectable'>
    <div class="field">
      <label>Imagen</label>
        <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.input :goal, label: 'Monto necesario' %>
    </div>

    <div class="field">
      <%= f.input :publish, label: '¿Publicar?' %>
    </div>

    <div class="field">
      <%= f.association :category, collection: @categories, prompt: 'Elige categoría' %>
    </div>
  </div>

<% end %>
