<%= simple_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibió guardar el proyecto:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='project-data'>
    <div class="field">
      <%= f.input :title, label: 'Título', require: true %>
    </div>
    <div class="field">
      <%= f.input :video_url, label: 'Link a vimeo' %>
    </div>
    <div class="field">
      <%= f.input :end_date, label: 'Fecha límite' %>
    </div>
    <div class="field">
      <%= f.input :description, label: 'Descripción', class: 'project-description' %>
    </div>
    <div class="field half">
      <%= f.input :goal, label: 'Monto necesario' %>
    </div>
    <div class="field extra">
      <%= f.association :category, collection: @categories, prompt: 'Elige categoría' %>
    </div>
  </div>
  <div class='project-selectables'>
    <div class="field extra check">
      <%= f.input :publish, label: '¿Publicar?' %>
    </div>
    <div class='avatar-display'>
      <div class="field half">
        <label>Elegir imagen</label>
        <span class="btn" >
          <%= f.file_field :image %>
        </span><br>
        <%= image_tag project.image.exists? ? project.image.url : 'zelda.jpg', class: 'edit-image' %>
      </div>
    </div>
    <%= f.button :submit, 'Guardar proyecto', class: "btn btn-success" %>
  </div>
<% end %>
