<div class="project-stats">
  <h3>Llevamos<br>
    <%="#{number_to_currency(project.donations.sum(&:ammount), unit: "CLP$", delimiter: ".", format: "%u%n")}
  /#{number_to_currency(project.goal, unit: "CLP$", delimiter: ".", format: "%u%n")}"%></h3>
  <p>
    <% if current_user%>
      <% if current_user != project.user %>
      <%= form_for Rate.new, {controller: 'rates', action: "create" } do |f| %>
        ¿Te gustó? <%= f.number_field :grade, min: 0, max: 5, required: true %>
        <%= f.hidden_field(:project_id, value: project.id) %>
        <%= f.submit("¡Evaluar!", class: 'btn btn-stats') %>
      <% end %>
      <% end %>
    <% else %>
    ¿Quieres aportar? <%= link_to "Registrarme", new_user_path, class: 'btn' %>
    <% end %>
  </p>
  <strong>Creador:</strong>
  <%= link_to project.user.full_name, project.user %>
  <p>
    <strong>Meta:</strong>
    <%= number_to_currency(project.goal, unit: "CLP$", delimiter: ".", format: "%u%n")%>
  </p>
  <% if project.end_date >= Date.today %>
    <h4>Tienes hasta <%= l(project.end_date, format: '%d/%m') %> para aportar</h4>
    <% if current_user %>
    <%= form_for Donation.new, {controller: 'donations', action: "create" } do |f| %>
      <%= f.label(:q, "¿Quieres aportar en este proyecto?") %>
      <%= f.number_field :ammount, min: 0, required: true %>
      <%= f.hidden_field(:project_id, value: project.id) %>
      <%= f.submit("¡Donar!", class: 'btn btn-stats') %>
    <% end %>
    <% else %>
    ¿Quieres aportar? <%= link_to "Registrarme", new_user_path, class: 'btn' %>
    <% end %>
  <% else %>
    <h4> El tiempo para aportar ya se agotó </h4>
  <% end %>
</div>
