<p id="notice"><%= notice %></p>

<h1> <%= @project.title %> </h1>
<p>
  <h3> <%= @project.category.name %> </h3>
  <%= @project.description %>
</p>
<p>
  <strong>Meta:</strong>

  <%= number_to_currency(@project.goal, unit: "CLP$", delimiter: ".", format: "%u%n")%>
</p>


<p>
  <strong>Creador:</strong>
  <%= @project.user.full_name %>
</p>
