<%= link_to 'Editar', edit_project_path(@project) if current_user == @project.user %>
<div class=project-container>
  <%= render partial: 'projects/content', locals: {project: @project} %>
  <%= render partial: 'projects/stats', locals: {project: @project} %>
</div>
<div class="bottom-container">
  <div id="comment-list" class='comments'>
  <% project = @project %>
  <%= render partial: 'comments/preview', locals: {project: project} %>
  </div>

  <div class='twitter'>
    <% if @project.hashtag.present? %>
      <h2>Tweets relacionados</h2>
      <div class="related-tweets">
      <% @project.tweets.first.second.first(15).each do |tweet| %>
        <div class="tweet">
          <p class='tweet-content'><span class='tweet-owner'><%= image_tag tweet['user']['profile_image_url'] %></span>
          <strong><%= tweet['user']['name'] %>:</strong> <%= tweet['text'] %> </p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
