<%= link_to 'Editar', edit_project_path(@project) if current_user == @project.user %>
<div class=project-container>
  <%= render partial: 'projects/content', locals: {project: @project} %>
  <%= render partial: 'projects/stats', locals: {project: @project} %>
</div>
<div class='comments'>
  <h2> Comentarios </h2>
  <% @comments.each do |comment| %>
    <p><small><strong><%= comment.user.full_name %>: </strong></small><%= comment.content %><br>
      <small><%= l(comment.created_at, format: '%d/%M%Y - %R') %></small>
    </p>
  <% end %>
</div>
<% if current_user %>
  <div class="comments-form">
    <%= form_for Comment.new, {controller: 'comments', action: "create" } do |f| %>
      <%= f.label(:q, "Comentar") %>
      <%= f.text_field(:content) %>
      <%= f.hidden_field(:project_id, value: @project.id) %>
      <%= f.submit("Publicar") %>
    <% end %>
  </div>
<% end %>
