<h1>Categorías</h1>
<%= link_to 'Nueva Categoría', new_admin_category_path %>
<%= will_paginate @categories, class: 'pagination' %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Proyectos asociados</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td align=center><%= category.projects.size %></td>
        <td><%= link_to 'Editar', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Eliminar', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
