<h1>Usuarios</h1>
<%= will_paginate @users, class: 'pagination' %>
<table>
  <thead>
    <tr>
      <th style="width:5px;">Admin</th>
      <th>Email</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>N° de proyectos</th>
      <th>N° de donaciones</th>
      <th>Monto de proyectos</th>
      <th colspan="3" width="15%">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr align="center">
        <td><%= user.admin ? 'Si' : 'No' %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.projects.size %></td>
        <td><%= user.donations.size %></td>
        <td><%= number_to_currency(user.donations.sum(&:ammount), unit: "CLP$", delimiter: ".", format: "%u%n") %></td>
        <td><%= link_to 'Ver perfil', user %></td>
        <td><%= link_to 'Editar', edit_admin_user_path(user) %></td>
        <% if user != current_user %>
          <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
